You can launch JDiplomacy by clicking the button above.<br/><br/>


Otherwise, you can download an stand alone version <a href="https://github.com/balmeyer/JDiplomacy/downloads" target="project">here</a>.
