
	body{ 
		font-family: "Arial";
		font-size:16px;
	}

	#all{
		text-align:center;
		margin-left:auto;
		margin-right:auto;
		width:900px;
		
	}

	#wrapper{

		width:540px;
		height:200px;
		padding-top:25px;
		background: url('/images/bg.png');
		background-repeat:no-repeat;
		margin-left:auto;
		margin-right:auto;
	}


	a {
		color:#0033FF;
	}
	
	a:hover {
		color:red; /* #9900CC; */
	}

	div.content{
		margin-left:auto;
		margin-right:auto;
	}


	div.presentation {
		text-align:justify;
		font-size:14px;
	}
	

	

