<div class="conv" style="background-color:#FFDDDD;padding:4px;margin:2px;border:1px">
<div style="background-color:red;color:white">[RECIPIENTS] : <b>[PUSERS]</b></div>
<img src="flag[COUNTRY]_s.gif"/>&nbsp;<big style="text-decoration:underline;color:[USERCOLOR]">[NAME]</big> | 
<small>
<font color="#A0A0A0">[[DATE]]</font>
</small>
<img src="topsecret.png"/>
</div>
